div {
    display: inline-block;
    margin-right: 10px;
}

body{
  text-align: center;
}

/* #table {
  text-align: left;
  width: 640px;
  margin: 30px auto;
  border-radius: 3px;
  background-color: #fff;
} */

#form {
  width: 650px;
  margin: 30px auto;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

table {
    height: 40%;
    left: 10%;
    margin: auto;
    overflow-y: scroll;
    position: static;
    width: 60%;
    border: 2px solid black;
  }
  thead th {
    background: #88CCF1;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  th, td {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    text-align: center;
    width: 33.3333%;
    /* border: 2px solid black; */
  }

  #total{
    text-align: right;
  }

  #total-number{
    text-align: left;
  }